body{
    text-align:center;
    background-color:black;
}

p{
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{

    color:cornflowerblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li{
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3{
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h4{
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.u_cannot_see_me_uwu{
    color:black
}
