body{
    text-align:center;
    background-color:black;
    display: flex;
    flex-direction: column;
    align-content: center;
}

p{
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{

    color: skyblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li{
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3{
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h4{
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.u_cannot_see_me_uwu{
    color:gray;
}

img{
    width: 720px;
}

.hf{
    border-radius: 15px;
    background-color: gray;
    padding: 0 5% 0 5%
}
.navigate{
    border-radius:15px;
    background-color: gray;
    margin: 0 4px 0 4px;
    padding: 0 8px 0 8px;
}
.hoshi{
    height: 16px;
    width: 16px;
}
button{
    background-color: white;
    border-radius: 15px;
}
.welcome{
    width: fit-content;
    max-width: 100%;
}
.content{
    max-width: 768px;
}